<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>lyMediaManagerPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>A media manager plugin for Doctrine</summary>
  <description>The plugin offers a simple web interface to upload and manage images, documents and other media files directly from the backend of your symfony application. File upload and file browsing features can be easily integrated into the TinyMCE editor</description>
  <lead>
    <name>Massimo Giagnoni</name>
    <user>mgiagnoni</user>
    <email>admin@lyra-cms.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.6.1</release>
        <api>0.6.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-12-21</date>
      <notes>
        * mgiagnoni: Added 'folder list' view
        * mgiagnoni: Made some layout changes to 'asset list' view
      </notes>
    </release>
    <release>
      <version>
        <release>0.6.0</release>
        <api>0.6.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-11-05</date>
      <notes>
        * mgiagnoni: Made root folder not editable from web interface
        * mgiagnoni: Added a check to prevent the creation of a regular folder with the same name of thumbnails folders
        * mgiagnoni: Added thumbnail creation for PDF files and graphic formats supported by ImageMagick
        * mgiagnoni: Added support for FCKEditor
        * mgiagnoni: Added link to hide/show folder menu in icons view.
        * mgiagnoni: Minor fixes / optimizations
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.6</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-10-19</date>
      <notes>
        * mgiagnoni: Created more unit tests
        * vjousse: Added support for optional i18n behavior in schema
        * mgiagnoni: Added new task 'generate-thumbs'
        * mgiagnoni: Added a batch action to (re)generate thumbnails for selected assets
        * mgiagnoni: Added a download asset action
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.5</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-09-25</date>
      <notes>
        * mgiagnoni: Made small changes to default list view
        * mgiagnoni: Updated README with instruction on how to customize list view layout
        * mgiagnoni: Improved error checking on asset/folder creating, moving, renaming, deleting operations
        * mgiagnoni: Moved many function from lyMediaTools class to model classes
        * mgiagnoni: Fixed wrong rounding to integer of asset file size value (thanks Jakub)
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.4</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-08-24</date>
      <notes>
        * mgiagnoni: Refactored lyMediaFolder, lyMediaAsset and added some unit tests
        * mgiagnoni: Added a few icons for common mime-types
        * mgiagnoni: Fixed undefined variable error when filters are disabled in lyMediaAsset module (thanks Jeremie)
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.3</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-02-08</date>
      <notes>
        * mgiagnoni: Fixed redirection urls for file upload and folder creation actions in file browser popup
        * mgiagnoni: Added a file to configure TinyMCE with an external Javascript
        * mgiagnoni: Updated README with instructions on how to configure the plugin to act as TinyMCE file browser.
        * mgiagnoni: Created helper thumbnail_image_path
        * mgiagnoni: Fixed wrong path of images inserted from TinyMCE file browser when front controller is not located in Document Root
        * mgiagnoni: Changed sfWidgetFormLyMediaTinyMCE to automatically include TinyMCE related javascript files
        * mgiagnoni: Auto-rename of uploaded file when another file with the same name exists in folder
        * mgiagnoni: Added dedicated layout for file browser popup used by TinyMCE
        * mgiagnoni: Added number of files / folders counters in icons view
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.2</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-20-07</date>
      <notes>
        * mgiagnoni: Created forms to add a folder / upload file from icons view
        * mgiagnoni: Fix: existence of media root directory is now checked in controller
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.1</release>
        <api>0.5.1</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-10-07</date>
      <notes>
        * mgiagnoni: Made asset list (icons view) sortable by name or date
        * mgiagnoni: Added paging to asset list (icons view)
        * mgiagnoni: Refactored class lyMediaFolder
        * mgiagnoni: Added task synchronize
      </notes>
    </release>
    <release>
      <version>
        <release>0.5.0</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-28-06</date>
      <notes>
        * mgiagnoni: initial release
      </notes>
    </release>
  </changelog>
</package>
